@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

@font-face {
  font-family: norse-bold;
  src: url(/assets/Norse-Bold.otf);
}

:root {
  font-size: 62.5%;
  --clickable-color: #596D48;
  --main-font: 'Roboto', sans-serif;
}

input {
  appearance: none;
  border: 1px solid #e5e7eb;
  border-radius: 4px;
  padding: 0.3rem;
  outline-color: blue;
}

input:focus-visible {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-color: blue;
}

input:focus {
  border-color: blue;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

input:focus:invalid {
  border-color: red;
  outline-color: red;
}

p {
  width: clamp(45ch, 50%, 75ch);
  padding: 1rem 0;
  font-family: var(--main-font);
  font-size: 1.8rem;
}

label {
  font-family: var(--main-font);
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
}

label, h3 {
  color: #5f6670;
}

body {
  display: flex;
  align-items: center;
  background-color: #f9fafb;
}

/* side bar styles start */
.side-image img {
  max-height: 100vh;
  width: auto;
}

/* main page styles start */
.main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main > section {
  padding: 2.4rem; 
}

.main-header-text {
}

.main-header-text strong {
  font-style: italic;
}

.main-sign-up-form {
  background-color: #ffffff; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.main-sign-up-form-header {
  font-size: 1.8rem;
  font-family: var(--main-font);
}

.form-row {
  display: flex;
  gap: 4rem;
  margin: 2rem 0;
}

.form-group {
  display: flex;
  flex-direction: column;
}